 .account-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.account-info {
    width: 50%; 
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
}

h1, p {
    margin-bottom: 20px;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left; 
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    border: 2px black;
    box-sizing: border-box; 
}

input:invalid {
    border:2px red;
}

input:valid {
    border: 2px solid green;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}