body {
    background-color: rgb(238, 238, 238);
}

#item-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 31%, 31%;
    column-gap: 3.5%;
    row-gap: 0.5%;
    justify-content: center;
    justify-items: center;

}

.grid-item {
    width: auto;
    height:auto;
    max-width: 300px;
    max-height: 432.5px;
    min-height: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: rgb(250, 250, 250);
    border-radius:15px;
    padding:15px;

}

.item-card-image {
    height:auto;
    width: auto;
    max-width: 250px;
    max-height: 250px;
    /* padding: 15px; */
    border-radius:25px;

}

.grid-colors {
    display: flex;
    flex-direction: row;
}

.color-bubble-box {
    border-radius: 50%;
    background-color: red;
}


#sort-dropdown-content-container {
    display:none;
}

li {
    list-style-type: none;
}
