#gitignore file
__pycache__
clothing_sales_env

#any global constants
*constants.py

#my notes
notes.txt

#json test outputs
*.json

#passwords and logins
*.env

#final database
postgres_data

#frontend files
frontend/test.html

